{
	"printWidth": 100,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"jsxBracketSameLine": true,
	"eslintIntegration": true,
	"parser": "typescript",
	"useTabs": false,
	"tabWidth": 2,
	"endOfLine": "auto"
}
