.img{
  float: left;
  border-radius: 6px;
  width:100px;
  height:100px;
  margin-right:10px;
}

.heart{
  float: right;
  width:15px;
  height:13.76px;
  color:#D05F5F;
  margin-left:4px;
  padding: 1px
  
}

.button-container{
  font-size:12px;
  font-weight: medium;
  text-align: right;
  display:inline-block;
  padding: 3px
}

.event{
  width:375px;
  height:100px;
  padding: 6px 12px;
}

.text{
  width:255px;
  height:81px;
  margin: 10px, 11px, 8px, 0px ;
}

.trendingEvent{
  width:200px;
  height:150px;
  border-radius: 6px;
  margin-inline: 12px;
  margin: 12px;
}

.img2{
  border-radius: 6px 6px 0px 0px;
  width:200px;
  height:90px;
}

.text2{
  margin: 0.5px 12px;
}




